.container-fluid {
  background: skyblue;
  padding-bottom: 20px;
}
#title {
  padding: 20px;
  background: darkblue;
  color: white;
  text-align: center;
}
#instructions {
  margin: 10px;
}

#number_to_reach {
  margin: 10px;
  padding-top: 10px;
  border: solid white;
  background: darkblue;
  color: white;
  vertical-align: center;
}
#scoreboard {
  margin: 10px;
  background: blue;
  border: solid white;
  color: white;
}
img {
  height: 100px;
  width: 100px;
}
#score {
  margin: 10px;
  padding: 10px;
  background: green;
  color: white;
  border: solid white;
}
